# compiled output
/dist
/node_modules

.env
.env.qa
.env.prod
_*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sentry Config File
.sentryclirc

# yarn novo
.yarnrc.yml
.yarn

.cosine
.vscode/settings.json
.vscode/launch.json
dev.env
**/workflow-bundle.js
/temporal-certs
/kmeans_frames

/temp

.kodus-graph-cache.json

environment.ts
src/ee/configs/environment/environment.ts
certs
.windsurf
.sdk

.yalc
yalc.lock
# packages
# .packages
